.portfolio-card {
  width: 70%;
  margin: auto;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
}
.hobbies-list {
  margin-top: 10px;
  padding-left: 16px;
}
.portfolio-description,
.portfolio-pic {
  display: inline-block;
  vertical-align: middle;
}
.portfolio-description {
  width: 60%;
  margin-right: 30px;
}
.portfolio-pic img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  object-fit: cover;
}
.projects-table {
  margin: 5px auto;
  border: 1px solid;
  text-align: left;
}
.projects-table th,
.projects-table td {
  padding: 10px;
}
