.primary-bg {
  background-color: #075985;
}
.secondary-bg {
  background-color: #374151;
}
.light-bg {
  background-color: #e9f0ff;
}
.light-text {
  color: #ffffff;
}
.primary-text {
  color: #075985;
}
.secondary-text {
  color: #374151;
}
.underline {
  text-decoration: underline;
}
